*{-webkit-box-sizing:border-box;box-sizing:border-box}
body{
	scroll-behavior: smooth;
	text-align:center;
	direction:rtl;
	padding:0;
	margin:0;
	background:#e7eff6;
	color:#4b86b4;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position:relative
}
header{
  position:relative;
	padding:0;
	margin:0;
	color: #e7eff6;
	background-color:#2a4d69;
}
header h2{padding:20px;	margin:0}

.message{
	width:200px;
	height: 30px;
	line-height:0px;
	border-radius: 30px;
	position: fixed;
	top: 120px;
	right: 50%;
	margin-right:-100px;
	padding:20px;
	
	background: #ffffffea;
	color: black;
	z-index:999;
	display:none;
}



.container{	height:70px;}
div i{
	float:left;
	margin:14px 5px;
	padding:5px;
  cursor:pointer;
}

i{color:lightskyblue}
i.selected{
	color:#2a4d69
}
.fa-lightbulb {
	color:#eedd82;
	background:#000;
	border-radius:50%;
	margin-right:10px;
	float:right;
	cursor:pointer;
	text-shadow: 1px 1px 2px #eedd8260,-1px -1px 1px #eedd8260
}
.fa-list{  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

span{
	cursor:pointer;
position:relative;
overflow:hidden;
	background-color:#fff;
border: 3px outset #33333390;
	padding:5px;
  padding-top:10px;
	margin:1%;
	border-radius:9px;
	display:inline-block;
	width:46%;
	float:right;
  height:600px;
	background: #63ace5;
	color:#fff
}	
span div{
  line-height:600px;
  font-size:300px;
  text-align:center
}
div.wrap{clear:both}
span p{
	text-align:right;
	margin:0;
	font-size:25px;
	line-height:30px;
	margin:2px;
	margin-top:10px;
	padding:3px;
	display:none	
}
span p:first-of-type{
	font-weight:bold;
	color:darkskyblue;
	background:#34217830;
	text-align:center;
	border-radius:4px;
	padding: 3px;
	margin-top:20px;
	margin-bottom:10px
}
@media only screen and (max-width: 400px) {
	span {
		font-size:18px;
		width:90%;
		margin:2%;
		margin-top:20px;
		
	}/*
	.ggg{
		display:none	}
	.fa-lightbulb{
		float:left !important
	}*/
	}