*{
  box-sizing:border-box
}

body{
	/*background:#84ceeb;*/
	background-color:#e7eff6;
	text-align:center
}
h1{
	background:#ddd;
  color:#50b9ea;
	width:300px;
	margin:auto;
	padding:30px;
	border-radius:30px;
}

main a{
  margin:2%;
  line-height:200px;
	display:inline-block;
	width:29%;
  height:200px;
	background: #5680e990;
	cursor:pointer;

	font-size:20px;
	float:right;
	font-weight:bold ;
	border-radius:15px;
	text-decoration:none;
	color:#fff;
}

@media only screen and (max-width: 400px) {
  
  main a {
    width:80%;
    height:100px;
    margin:20px auto;
    float:none;
    padding:0;
    line-height:100px
      
      
      
      
  }
}
