

body{
	position:relative;
	background-color:#9Fd9ff;
	direction:rtl;
	text-align:right;
	font-size:1em;
	padding:13px;
	text-align:justify;
	line-height:1.7
}
span{
	color:darkblue;
	cursor:pointer;
	font-weight:bolder;		
}
p{	
	position:relative;
	color:white;
	font-weight:bold;
	background:#3F69AA;
	padding:13px;
	margin:30px auto;
	border:7px outset #3045a280;
	border-radius:10px
}
.fa{
	position:absolute;
	width:80%;
	height:100%;
	top:30px;
	right:10%;
	display:none	
}
div > div{
	
	margin:100px auto;
	color:white;
	font-weight:bold;
	background:#3F69AA;
	padding:13px;
	margin:30px auto;
	border:7px outset #3045a280;
	border-radius:10px
}