*{box-sizing:border-box;margin:0;padding:0}

body{
  font-family:Tahoma, Arial;
  padding-top:40px
}

nav{
  text-align:center}
/* slider */
.slider{
  margin:10px auto;
  width:300px;
  height:450px;
  position:relative
}
.slider img{
  position:absolute;
  opacity:0;
  transition: opacity 1s;
  z-index:1
}
.slider img.active{
  opacity:1
}

.slider .slider-number{
  position:absolute;
  left:10px;
  top:10px;
  background-color:#000000aa;
  color:#fff;
  padding: 10px 5px;
  font-size:20px;
  border-radius:6px;
  z-index:2;
  transition: all .2s
}

/* slider control s */

.slider-controls{
  width:300px;
  margin:auto;
  overflow:hidden
}

.slider-controls .prev,
.slider-controls .next{
  width:20%;
  text-align:center;
  font-size:14px;
  background-color:#009688;
  color:#fff;
  padding:5px;
  border-radius:4px;
  user-select:none;
  cursor:pointer
}
.slider-controls .prev{
  float:left
}
.slider-controls .next{
  float:right
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled{
  background-color:#00968888;
  cursor:no-drop
}


.slider-controls .indicators{
  width:60%;
  float:left
}

.slider-controls .indicators ul{
  list-style:none;
  text-align:center
  
}
.slider-controls .indicators ul li{
  display:inline-block;
  margin: 0 2px;
  background-color:#f6f6f6;
  color:#333;
  font-weight:bold;
  height:28px;
  width:28px;
  line-height:28px;
  border-radius:4px;
  cursor:pointer
}


.slider-controls .indicators ul li.active{
  
background-color:#009688;
  color:#fff;
}

/* rtl */

.slider .slider-number{
  right:10px;
  left:auto
}

.slider-controls .prev,
.slider-controls .indicators{
  float:right
}
.slider-controls .next{
  float:left
}
