*{
  margin:0;
  padding:0
}
html {
  scroll-behavior: smooth;
  font-family:Arial , Tahoma
}


a{
  text-decoration:none
}

header{
  
  background:#333;
  height:100vh;
  text-align:center;
  position:relative
}
header h1{
  padding-top:40px;
  color:#fff
}
header h2{
  position:absolute;
  color:#fff;
  font-size:50px;
  height:150px;
  width:300px;
  top:calc(50% - 75px);
  left:calc(50% - 150px);
}

header i{
  position:absolute;
  color:#f6f6f6;
  width:50px;
  height:50px;
  font-size:35px;
  left:calc(50% - 25px);
  bottom:100px;
  border-radius:50%;
  -webkit-animation: upanddown ease-in-out 1.2s infinite; 
  animation: upanddown 
   1.2s ease-in-out infinite;
}
/* section */
section{
  min-height:100vh;
  color:#333;
}

section h2{
  text-align:center;
  position: -webkit-sticky;
  position:sticky;
  top:0;
    background:#f7f7f7;
    padding: 20px 0 ;
    border-bottom:.5px solid #b2b2b299
}
section h3{
  text-align:center
}
section p{
    padding:10px 15px 10px;
    margin-top:10px;
  margin-bottom:10px;
    font-size:25px;
    text-align:justify;
    line-height:1.8
}
a{
  margin:30px auto;
  text-decoration:none
}

nav a:hover,nav a:active ,nav a:visited, nav a:link{
  color: blue;
  text-align:center
}



footer {
    height:50px;
  margin-top:30px;
  background:#333
}






@-webkit-keyframes upanddown {
  0% {bottom: 100px;}
  50% {bottom: 80px;}
  90% {bottom: 100px;}
}

/* Standard syntax */
@keyframes upanddown {
    0% {bottom: 100px;}
  50% {bottom: 80px;}
  90% {bottom: 100px;}
}

@-webkit-keyframes rotate360 {
  0% {transform:rotatey(0);}
  50% {transform:rotatey(90deg);}
  90% {transform:rotatey(0);}
}

/* Standard syntax */
@keyframes rotate360 {
  0% {transform:rotatey(0);}
  50% {transform:rotatey(90deg);}
  90% {transform:rotatey(0);}
}

.to-top{
  
  position:fixed;
  bottom:15px;
  left:25px;
  width:30px;
  height:30px;
  line-height:30px;
  font-size:25px;
  background:#33333399;
  padding:10px;
  border-radius:50%;
  z-index:2;
  
  display:none;
  text-align:center;
  color:#fff;
    -webkit-animation: rotate360 ease-in-out 1.2s; 
  animation: rotate360 
   1.2s ease-in-out;
  transition-delay: .2s;
  animation-iteration-count: 1;
}

.visible{
  display:block
}

strong{
  text-decoration:underline;
  text-indent:4px
}