
body{
  direction:rtl;
  font-family: 'Open Sans', sans-serif;
}
/* خواصنا  */
*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box
}
.container{
  width:95%;
  margin:auto;
  position: relative;
}
.overlay{
  background:#31373daa;
  width:100%;
  height:100%
}
.table{
  height:100%;
  display:table
}
.table-row{
  display:table-row
}
.text-center{
  text-align:center
}
img {
  max-width: 100%;
}

.upper{
  text-transform:uppercase
}
.main-color{
  color:#f7600e
}
.main-bg{
  background-color:#f7600e
}
.clearfix{
  clear:both
}
.hidden{
  display: none
}
/*الترويسة */
header {
  background: url('images/header-bg.png');
  background-size:cover;
  color:#fff;
  height:100vh;
  position:relative
}


header nav{
  overflow:auto;
  padding:20px 0;
  position:absolute;
  top:0;
  right:0;
  width:100%;
  
}
header nav span{
  font-size:24px
}
header nav .links{
  float:left;
  
}
header nav .links i{
  margin-left:5px;
  font-weight:800
  
}

header .intro h1{
  margin:0;
  font-weight:800;
  font-size:50px;
  
}
header .intro p{
  margin:5px 0 40px;
  line-height:1.9;
  font-size:20px;
  color:#e2e2e2
}

header .buttons button{
 background:transparent;
  padding:10px 0;
  width:180px;
  font-size:14px;
  border: 1px solid #909090;
  margin:0 8px;
  border-radius:10px;
  color:#fff
  
}
header .buttons button:hover{
  color:#fff;
  background-color:#f7600e;
  border: 1px solid #f7600e;
  -webkit-transition:all .5s linear;
  -o-transition:all .5s linear;
  transition:all .5s linear
  
}
  
header .arrow {
  position:absolute;
  bottom:0;
  right:0;
  text-align:center;
  width:100%;
  padding:40px 0
}
header .arrow i{
  border:2px solid ;
  border-radius: 50%;
  height:60px;
  width:60px;
  line-height:60px;
  cursor:pointer
}
/*  المميزات  */



.features{
  padding:80px 0;
  overflow:hidden
}

  .features .box{
  width:22%;
    float:right;
    margin-left:4%
   }
  
.features .box:last-of-type{
 margin-left:0
}
    
.features .box i{
  border-radius:50%;
  border: 3px solid #dddddd90;
  
 width:120px;
  height:120px;
  line-height:120px;
  -webkit-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
  cursor:pointer
}

.features .box i:hover{
  background-color: #f7600e;
  border: 3px solid #f7600e;
  
  color:#fff
}

.features .box h3{
  text-transform:uppercase;
  font-weight:normal;
  color:#505050
}


.features .box p{
  line-height:2;
  color:#888
}

/* الاشتراكات */
.subscribe{
  background:url('images/sub.png');
  background-size:cover;
 
}

.subscribe form{
  padding:100px 0;
  width:700px;
  margin:auto;
  text-align:right;
  
}
.subscribe form input[type="email"]{
  padding:9px;
  width:320px;
  font-size:20px;
  border-radius:10px;
  position:relative;
  
  border:none;
  font-size:14px
  
  
}
.subscribe form input[type="button"]{
  padding:10px;
  width:200px;
  border:none;
  color:#fff;
  border-radius:10px;
  margin-right:20px;
  font-size:14px
  
}
/* أعمالنا */
.our-work{
  padding: 50px 0
}
.our-work h2{
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 0
}
.our-work h2 ~ p{
line-height: 2;
margin: 10px 0 40px
}
.our-work .show-more{
background: transparent;
border: 1px solid #ccc;
width:180px;
padding: 10px;
border-radius: 10px;
margin-top: 20px;
color: #555555;
}
.our-work .show-more:hover{
  color:#fff;
  background-color:#f7600e;
  border: 1px solid #f7600e;
  -webkit-transition:all .5s linear;
  -o-transition:all .5s linear;
  transition:all .5s linear
  
}
.our-work .items-box {
  overflow: hidden;
}

.our-work .items-box .item {
float:right;
width: 30%;
overflow: hidden;
margin-right: 1.33333%;
margin-bottom: 12px;
border-radius: 10px;
position: relative;
border-radius: 10px
}
.our-work .items-box .item:hover .over {
display: block;
}
.our-work .items-box img{
  border-radius: 10px
}
.our-work .item .over {
  position: absolute;
  top:0;
  right:50%;
  width: 300px;
   margin-right: -150px;
  height: 300px;
  border-radius: 10px;
  background:#f7600ecc;
  color:#fff;
  display: none;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}
.our-work .item .over h4{
font-size: 24px;
margin-top: 80px;
margin-bottom: 0
}

.our-work .item  .over p{
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: 2;

}
.our-work .item  .over input{
  padding: 3px;
background: transparent;
color:#fff;
border: 1px solid;
max-width: 180px;
border-radius: 10px;
-webkit-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out
}
.our-work .item  .over input:hover{
color: #f7600ecc;
background:#fff;

}
.testi {
  padding: 50px 0;
  background:url('images/h-01.png');
  background-size: cover;

}
.testi  .client{
  padding: 50px o;
  color: #fff;
  font-size: 20px
} 
.testi  .client p{
  line-height: 2;
  font-style: italic
}
.testi  .client img{
border-radius: 50%;
width:100px
}
.testi  .fa-chevron-right,
.testi  .fa-chevron-left  {
position: absolute;
top:50%;
color: #999;
cursor: pointer;
}
.testi  .fa-chevron-right {
right:1px
}
.testi  .fa-chevron-left {
left:1px 
}
.testi  .fa-chevron-right:hover{
  right: 0;
  color: #f7600e
}
.testi  .fa-chevron-left:hover  {
  left:0;
  color: #f7600e
}

/*  فريقنا */
.our-team {
  padding: 50px 0;
  
}

.our-team h2{
  font-size: 35px;
  margin-bottom: 0
}
.our-team p.me {
  margin: 10px 0 40px;
  line-height: 2;
  color: #555;
  font-size: 20px
}
.our-team .the-team{
  overflow: hidden;
}
.our-team .person {
  float:right;
  width:24%;
  margin-right: 1%;

}
.our-team .person  img,
.our-team .person .social-icons
{
  -webkit-filter: grey;
          filter: grey;
  -webkit-filter: grayscale(.3);
          filter: grayscale(.3);
  -webkit-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease
}
.our-team .person:hover .social-icons ,
.our-team .person:hover  img{
  fill: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.fa-twitter-square {
  color:#55adee; 
}
.fa-facebook-square {
  color:#3b5999 
}
.fa-linkedin {
  color:  #0077b5
}
.fa-youtube-square{
  color: #b31217
}
.fa-whatsapp-square{
  color:
#25d366
}

.fa-snapchat-square{
  color:#fffc00
}
.our-team .person p {
  font-size: 15px;
  color: #9aa
}

/*  للتواصل */

.contact{
  background:url('images/h-02.png')
}

.contact .overlay{
  padding: 50px 0;
  color:#fff;
  
}

.contact h2{
  font-size:35px
}

.contact form {
  width:700px;
  margin:50px auto;
  overflow:hidden
}
.contact input[type=email],
.contact input[type=text]{
  width:48%;
  padding:0 10px;
  line-height:40px;
  height:40px;
  border-radius:10px;
  border:1px solid #ccc
  
}
.contact input[type=email]{
  float:right;
}
.contact input[type=text]{
  float:left
}

textarea{
  margin-top:20px;
  width:100%;
  padding:10px;
  height:140px;
  border-radius:10px;
  border:1px solid #ccc
}

.contact form .info{
  overflow:hidden;
  margin-top:10px;
  color:#fff
}

  .contact form .info input{
    float:right;
      padding: 15px;
  width:200px;
    height:42px;
  border:none;
  color:#fff;
  border-radius:10px;
  margin-right:20px;
    margin-top:3px;
  font-size:14px
  
}
           
.contact form .info .form-icons{
  float:left;
  margin-left:10px
}

.contact form .info .form-icons i{
  margin-right:10px;
  
}
footer{
  padding:30px 0;
  background:#3b434c;
  color:#fff;
  overflow:hidden
}
footer .copy{
  float:right
}

footer .design{
  float:left
}



/* القائمة الجانبية */


.menu{
  
  position:absolute;
  width:230px;
  top:30px;
  left:0px;
  
}

.menu{
  z-index:3;
}

.menu ul{
  list-style:none;
  font-size:20px;background:#33333333
}

.menu  li{
  
  padding:10px;
  
}

.menu  li:hover{
  background:#33333366;
  color:#f7600e;
  
}







