
  

/* العلوي */

.upper-bar {
 background:#08526d;
  color:#fff;
  padding:10px
}

.upper-bar span{
  color:#bfc6c9
}

.upper-bar .get-qoute {
  display:inline-block;
  border: 1px solid #ec1c23;
  padding: 2px 10px;
  margin-left:2px
}

.fa-phone{
  -webkit-transform:rotatey(180deg);
      -ms-transform:rotatey(180deg);
          transform:rotatey(180deg)
}

/* navbar */
.navbar-brand span{
  font-size:40px
}

.navbar-brand span:first-child{
  color:#08526d;
    font-weight:bold
}

.navbar-brand span:last-child{
  color:#ec1c23
}

.navbar .nav-link{
  text-transform:uppercase;
  font-size:16px;
  margin-left:20px;
  color: #08526d
}
.navbar .active .nav-link{
  color:#ec1c23 !important
}

/*  slider */


.slider{
  background:#ddd
}
.carousel-inner
{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:left;
      -ms-flex-pack:left;
          justify-content:left
}

.slider .carousel-inner h1{
  position:absolute;
  color:#fff;
  z-index:3;
  font-size:70px;
  max-width:900px;
  line-height:1.5;
  left:3vw
}
.slider .carousel-inner h1 span{
  background-color:#ec1c23;
  display:inline-block;
  padding:2px 10px
}
.slider .carousel-inner .overlay{
position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:2;
  background:#00000060
   
}

 .carousel-item{
  background-size:cover
}

.slider .carousel-inner .carousel-one {
  background-image:url('../images/slider-1.jpg');
  
  
}

.slider .carousel-inner .carousel-two {
  background-image:url('../images/slider-2.jpg')
}


 .slider .carousel-inner .carousel-three {
  background-image:url('../images/slider-3.jpg')
}


.slider .carousel-indicators li{
  height:8px;
  cursor:pointer
}

/*  Features   */

.features{
  padding:50px 0
}
.features i{
  color:white;
  background:#ed1d24;
  width:70px;
  height:70px;
  margin:auto;
  border-radius:50%;
  
  margin-bottom:10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center
}



.features h4{
  color:#08526d
}

.features p{
  color:#555;
  margin-bottom:40px
}

/*  overview */

.overview{
  padding:100px 0;
  background-color:#f0f5f7
}

.overview h2{
  font-size:50px;
  text-transform:uppercase;
  font-weight:bold;
  margin-bottom:30px
}
.overview p{
  color:#6a6a6a;
line-height:2;
  font-size:20px;
  width:80%;
  margin:0 auto 15px;
}
.overview h4{
letter-spacing:2px;
  font-weight:normal;
  color:#8b8a8a;
  margin-bottom:40px
}
.overview button{
background-color:#ed1d24;
  color:#fff;
  padding: 10px 30px;
  font-size:20px;
  font-weight:bold;
  border:1px solid #ed1d24
}
/* Featured-work */

.featured-work {
  padding: 100px 0
}
.featured-work h2{
  font-size:50px;
  font-weight:bold;
  margin-bottom:20px
}


.featured-work p{
  color:#6a6a6a;
line-height:1.6;
  font-size:20px;
  width:80%;
  margin:0 auto 15px;
}
.featured-work ul{
  margin-top:40px;
  margin-bottom: 50px
}
.featured-work ul li {
  color:#08526d;
  border:2px solid;
  padding: 15px;
  margin-left:10px;
  margin-bottom:10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
  
}

.featured-work ul li.active ,
.featured-work ul li:hover
{
  background-color:#ec1c23;
  border:2px solid #ec1c23;
  color:#fff
}


.featured-work ul li:hover{
  cursor:pointer
}

.featured-work .shuffle-imgs{ 
  margin:0 
}

.featured-work .shuffle-imgs .col-md{
  padding:0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.featured-work .shuffle-imgs img{
  width:100%
}
/*  latest post */



.latest-posts {
  padding:0 0 100px
}


.latest-posts h2{
  font-size:50px;
  font-weight:bold;
  margin-bottom:20px
}


.latest-posts .pp{
  color:#6a6a6a;
line-height:1.6;
  font-size:20px;
 width:80%;
  margin:0 auto 45px;
}

.latest-posts img{
  width:100%
}
.latest-posts .card {
  
  margin-bottom:30px
}
.latest-posts .card .card-title{
  color: #08526d;
  font-size:20px;
  line-height:1.5
}

.latest-posts .card .card-text {
  color:#888;
  margin-bottom:5px
}

.latest-posts .card .card-link{
  font-weight:bold;
  color: #ed1d24;
}

/* testimonials */
.testimonials{
  background-size:cover;
    background-image:url('../images/slider-1.jpg');
  position:relative;
}

.testimonials .overlay{
position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background:#00000060;
  z-index:2;
  
   
}
.testimonials .container{
  position:relative;
  z-index:3
}

.testimonials .carousel-caption {
  top:50%;
  margin-top:-115px
}


.testimonials .carousel-item {
  height:500px
}
.testimonials .carousel-caption img{
  margin-bottom: 20px
}

.testimonials .carousel-caption h3 {
  margin-bottom: 10px
}

.testimonials .carousel-caption h3 + span {
  font-size: 18px;
  display:inline-block;
  margin-bottom: 30px
}

.testimonials .carousel-indicators li{
  height:8px;
  cursor:pointer
}
/* pricing table */
.pricing-table {
  background-color:#f7f7f7;
  padding: 100px 0 100px
}


.pricing-table h2{
  font-size:50px;
  font-weight:bold;
  margin-bottom:20px
}


.pricing-table .pp{
  color:#6a6a6a;
line-height:1.6;
  font-size:20px;
 width:80%;
  margin:0 auto 80px;
}

.pricing-table .card-body {
  padding:0
}

.pricing-table img{
  width:100%
}
.pricing-table .card {
  
  margin-bottom:30px;
  box-shadow: 0 0 15px #33333333;
}
.pricing-table .card .card-title{
  color: #08526d;
  font-size:25px;
  line-height:1.5;
  margin-top:40px
}


.pricing-table .card-subtitle{
  font-size:12px
}
.pricing-table .card .card-text{
  color:#08526d;
  font-size:30px;
  background-color:#f7f7f7;
  padding:10px;
  margin:30px 0 10px;
  font-family: 'Crimson Text', serif
}

.pricing-table .card .card-text span{
  font-size:17px;
  text-transform:uppercase
}

.pricing-table .card a.card-link{
  font-size:18px;
  font-weight:bold;
  color:#fff;
  background-color:#ed1d24;
  padding:10px 15px;
  margin-top:14px;
  margin-bottom:30px;
  display:inline-block;
  text-transform:uppercase
}


.pricing-table .card .red-bg{
  background-color:#ed1d24;
  color:#fff
}
.pricing-table .card a.blue-bg{
  background-color:#08526d;
  color:white;
  
}

.pricing-table .up-5{
  
  top:-10px
} 
.pricing-table .list-group-item {
  border:none
}


/* choose us */
.choose-us .col-6{
  padding:0
}


.choose-us .col-6:first-child{
  background:url('../images/living-room.png');
  background-size:cover
}


.choose-us .col-6:last-child{
  background:#08526d;
  color:#fff;
  padding-top:30px;
  padding-bottom:30px
  
}
.choose-us h2{
  margin:40px
}
.choose-us p{
  margin:40px;
  line-height:2;
  font-size:18px
}


.choose-us .read-more{
  background:#ed1d24;
  padding: 6px 20px;
  margin:0 0 0 40px;
  color:#fff;
  font-size:20px;
  font-weight:bold;
  text-transform:uppercase
    
}







