html{
	margin:0;
	padding:0;
	font-family:arial;
  direction:rtl
}
header , footer , section{
	height:1300px;
	text-align:center;
	padding:30px 10px;
	color:#fff;
}

header , footer{
	background:#333333;
	
	
}

section {
	background:#34937299;
	border-bottom:3px solid grey
}
h1, h2{
  position:-webkit-sticky;
	position:sticky;
  top: 40px
}

h2{
  background:#33333322;
  padding:20px;
  display:inline-block;
  border-radius:10px
}
h1{
background:#33333322;	
img{
	margin-top:300px}
