
html,body{
  margin:0;padding:0;
	font-family:arial;
    direction:rtl;
    text-align:center;
}
header{
    color:white
}
header h2{
    background:#333;
    padding:20px 0
}

section{
	padding: 14px 0;
    color:#333;
	background:white;
	border-bottom:1px solid grey
}

section:last-of-type{
    border-bottom:none
}

section h2{
    background:#fff;
    padding: 20px 0 
}

 h2{
    position:-webkit-sticky;
    position:sticky;
    top: 0 
}

header , footer{
	background:#333	;
  
}

p{
    padding:10px 15px;
    font-size:25px;
    text-align:justify;
    line-height:1.8
}

footer p{
    font-size:10px
}